

hr{background-color:#79B4B7;border-style:none;height:2px;width: 60%;}
body{background-color:#E8F6EF }
h1{color: #664E88;}
h2{color: #6D9886;}
h3{color: #6D9886;}
.head3{font-size:24px;}
.list{color:#1E3163}
.big{font-size:20px;}
.heading{font-size: 2em;}
